[Desktop Entry]
Name=Menu 11
Comment=A highly customizable launcher inspired from windows 11 menu. Fork of MenuZ.

Type=Service
Icon=start-here-kde
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.launchermenu

X-KDE-PluginInfo-Author=Prateek SU
X-KDE-PluginInfo-Email=pankajsunal123@gmail.com
X-KDE-PluginInfo-Name=menu11
X-KDE-PluginInfo-Version=8.0
X-KDE-PluginInfo-Website=https://github.com/prateekmedia/Menu11
X-KDE-PluginInfo-KdeStoreId=1544959
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
